<app-banner></app-banner>
<app-second-section></app-second-section>
<app-first-section></app-first-section>
<app-footer></app-footer>
<div class="fixed top-3 left-1/2 -translate-x-1/2">
  <div
    class="inline-flex rounded-lg border p-1 shadow border-white bg-gray-900"
  >
    <button
      *ngFor="let item of langs"
      [class]="{
        '!bg-gray-800': translationService.currentLang() == item.value
      }"
      (click)="translationService.setLang(item.value)"
      class="text-white inline-block rounded-md px-4 py-2 text-sm focus:relative"
    >
      {{ item.label }}
    </button>
  </div>
</div>
