/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background: white; /* color of the tracking area */
    border-radius: 20px; /* roundness of the scroll thumb */
  }
  &::-webkit-scrollbar-thumb {
    background-color: black; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
  }
}
body {
  @apply custom-scrollbar;
}

.scroll-container {
  height: 300px;
  // width: 100px;
  overflow: hidden;
  position: relative;
}

.scroll-container img {
  width: 100%;
  position: absolute;
  top: 0;
  transition: top 0.5s ease;
}

.scroll-container:hover img {
  top: -100%;
}
